/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body style  */
header {
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;


}

.container {
    background-color: #161616;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1321px;
    display: flex;
    border-radius: 20px;
    margin: 50px 139px 130px 140px;

}

.content {
    display: flex;
    justify-content: space-between;
}

.text-content {
    width: 50%;
    padding: 111px 40px 111px 90px;
}

.text-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.text-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 30px;

}

.text-content a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
}

.image-contant {
    width: 50%;
    padding-top: 75px;
    padding-right: 79px;
}

.image-contant img {
    width: 581px;
    height: 613px;
}